<!-- right-->
<div class="MemberMain">
<div style="margin-right:175px;">

<div class="title"><{t}>My coupons<{/t}></div>

<table width="100%" cellpadding="3" cellspacing="0" class="memberlist">
    <col class="span-2 "></col>
    <col ></col>
    <col class="span-4"></col>
    <col class="span-2"></col>
    <col class="span-3"></col>
<thead>
<tr>
  <th><{t}>NO.<{/t}></th>
  <th><{t}>Name<{/t}></th>
  <th><{t}>Validity<{/t}></th>
  <th><{t}>Available time<{/t}></th>
  <th><{t}>Status<{/t}></th>
<!--  <th><{t}>Available items<{/t}></th>-->
</tr>
</thead>
<tbody><{if count($coupons)>0}>
<{foreach from=$coupons item=item}>
<tr>
  <td rowspan="2"><{$item.memc_code}></td>
  <td class=" textleft"><strong><{$item.cpns_name}></strong><br />
</td>

  <td rowspan="2"><{$item.pmt_time_begin|cdate}> ~ <{$item.pmt_time_end|cdate}></td>
  <td rowspan="2"><{$item.memc_used_times}>/<{$env.conf.coupon.mc.use_times}></td>
  <td rowspan="2"><{$item.memc_status}></td>
</tr>
<tr>
  <td class=" textleft"><span style="color:#666;"><{$item.pmt_describe}></span></td>
</tr>
<{/foreach}>
<{else}>
<tr>
<td height="60" colspan="6">
  No coupon now</td>
</tr>
<{/if}>
</tbody>
</table>
<{pager data=$pager}>

</div>
</div>
<!-- right-->
