<!-- right-->
  <div class="MemberMain">
  <div style="margin-right:175px;">

 <div class="title"><{t}>My Orders<{/t}></div>
 
 <table class="memberlist blueth" width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
     <th>Product Name</th>
     <th>Order No.</th>
     <th>Order Date</th>
     <th>Total</th>
     <th>Status</th>
   </tr>
<tbody>
<{foreach from=$orders item="order" name=orders}>
<tr>
  <td width="40%"><a href="<{link ctl=member act=orderdetail arg0=$order.order_id}>"><{$order.tostr}></a></td>
  <td><a href="<{link ctl=member act=orderdetail arg0=$order.order_id}>"><{$order.order_id}></a></td>
  <!--<td  class="textwrap"><{$order.tostr}></td> -->
  <td><{$order.createtime|cdate:FDATE_STIME}></td>
  <td><{$order.final_amount|cur:$order.currency:false:true}></td>
  <td><span class="point">
  <{if $order.status == 'finish'}>Finished
  <{elseif $order.status == 'dead'}>Canceled
  <{else}>
  <{if $order.pay_status==1}>Paid
    [<{if $order.ship_status==1}>
    Shipped
    <{elseif $order.ship_status==2}>
    Partical Shipped
    <{elseif $order.ship_status==3}>
    Partical Returned
    <{elseif $order.ship_status==4}>
    Returned
    <{else}>
    Prepare the stock ...
    <{/if}>]
  <{elseif $order.pay_status==2}>
    Paid to the secured party
  <{elseif $order.pay_status==3}>
    <a href="<{link ctl=member act=orderpay arg0=$order.order_id}>" ><{t}>waiting for restock of style<{/t}></a>
    <{if $order.ship_status==1}>
    [Shipped]
    <{elseif $order.ship_status==2}>
    [Partical Shipped]
    <{elseif $order.ship_status==3}>
    [Partical Returned]
    <{elseif $order.ship_status==4}>
    [Returned]
    <{/if}>
  <{elseif $order.pay_status==4}>
    Partical Refund
    [<{if $order.ship_status==1}>
    Shipped
    <{elseif $order.ship_status==2}>
    Partical Shipped
    <{elseif $order.ship_status==4}>
    Returned
    <{elseif $order.ship_status==0}>
    Unship
    <{/if}>]
  <{elseif $order.pay_status==5}>
    Refund
    [<{if $order.ship_status==1}>
    Shipped
    <{elseif $order.ship_status==2}>
    artical Shipped
    <{elseif $order.ship_status==4}>
    Returned
    <{elseif $order.ship_status==0}>
    Unship
    <{/if}>]
  <{else}>
    <a href="<{link ctl=member act=orderpay arg0=$order.order_id}>" ><{t}>waiting for restock of style<{/t}></a>
    <{if $order.ship_status==1}>
    [Shipped]
    <{elseif $order.ship_status==2}>
    [Partical Shipped]
    <{elseif $order.ship_status==3}>
    [Partical Returned]
    <{elseif $order.ship_status==4}>
    [Returned]
    <{/if}>
  <{/if}>
  <{/if}>
  </span></td>
</tr>
<{/foreach}>
</tbody>
 </table>
 <{pager data=$pager}>
  </div>
  </div>
  <!-- right-->
