<!-- right-->
  <div class="MemberMain">
  <div style="margin-right:175px;">

 <div class="title"><{t}>My credits<{/t}></div>
 
 <div class="points">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="200">
    
    <div class="currentpoints">
    <div style="padding-top:30px;">
    <strong>Credits available:</strong><br />
    
    <span style="font-size:20px; font-weight:bold; color:#fd6b00; "><{$total}></span>
    </div>
    </div>    </td>
    <td style="line-height:20px;">
    
   <strong>Credits rule:</strong><br />


1. According to our credits and exchange policy, you can exchange for items when your credits reach its exchange requirements. Your credits available will be deducted。<br />

2. QTY is limited for each item.<br />

3. Exchange will not be available when time due.<br />

  
    
    </td>
  </tr>
</table>


 </div>
 
 
 <br /><br />

<table class="memberlist" width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <th>Date</th>
        <th>Credits</th>
        <th>Abstract</th>
    </tr>
    <tbody>
    <{if count($historys)>0}>
    <{foreach from=$historys item="logs"}>
    <tr>
      <td><{$logs.time|cdate:FDATE_STIME}></td>
       <td class="point"><{$logs.point}></td>
       <td class="textleft"><{$logs.describe|escape:'html'}></td>
    </tr>
    <{/foreach}>
    <{else}>
    <tr>
      <td height="60" colspan="3"><{t}>No credit record<{/t}></td>
    </tr>
    <{/if}>
    </tbody>

</table>
 
 
 
  </div>
  </div>
<!-- right-->
