<div class="seo-tip" style=" border:1px solid #c7deff; background:#f5f9ff; padding:5px; line-height:25px; margin:5px 0px; width:350px;">
          
          <span class="span1" title="shopname" style="color:#1b4d91; border:1px solid #98bbd2; padding:2px; margin:2px; cursor:pointer; background:#d6edf4;">{shopname}</span>
          
          <span class="span1" title="shopname" style="color:#1b4d91; border:1px solid #98bbd2; padding:2px; margin:2px; cursor:pointer; background:#d6edf4;">{shopname}</span>

          <span class="span1" title="shopname" style="color:#1b4d91; border:1px solid #98bbd2; padding:2px; margin:2px; cursor:pointer; background:#d6edf4;">{shopname}</span>

        
         <div class="tipline" style="height:1px; background:#98bbd2; overflow:hidden; margin:5px 2px;"></div>
       
       <{button style='font-size:12px;' type="submit" label="恢复默认值" }>
       
          <span class="span2" title="shopname" style="color:#7f7f7f; padding:2px; margin:2px; background:#e4e4e4;">标题内容</span>
 

          </div>