<{area inject='.mainHead'}>
<div class="finder-detail-tabs clearfix">
    <{foreach from=$expseo item=item key=key}>
        <{if $name == $key}>
            <span class="tab cur"><span><{$item}></span></span>
        <{else}>
            <{if $key == "seo"}>
                <span class="tab"><span><a href="index.php?ctl=sale/tools&act=seo"><{$item}></a></span></span>
            <{else}>
                <span class="tab"><span><a href="index.php?ctl=sale/tools&act=exceptseo&p[0]=<{$key}>"><{$item}></a></span></span>
            <{/if}>
        <{/if}>
    <{/foreach}>
</div>
<{/area}>


<form action='index.php?ctl=sale/tools&act=seoedit' method='post' class="settingform" id="site_basic" enctype="multipart/form-data" target="{update:'messagebox'}">
    <div class="tableform">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
                <td><h4><{t}>SEO模板备份<{/t}></h4></td>
                <td style="text-align:right; padding-right:10px;"><{help docid="97" type="link"}><{t}>点击查看帮助<{/t}><{/help}></td>
            </tr>
        </table>
        <div class="division" style="position:static;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
                <tr>
                    <td>
                        <div style="margin:10px;" class="table-action">
                            <!--<b class="submitBtn">
                                <a style="color:#fff;" href="index.php?ctl=sale/tools&act=recoverallseo" target='_blank' onclick='new Event(event).stop();if(!confirm("您是否要恢复全站页面的SEO模板，您填写的自定义内容都将丢失。"))return false;this.innerHTML="恢复中...";W.page(this.href);'>
                                   <span style='display:block;width:170px;height:100%'><{t}>恢复全站SEO模板默认值<{/t}></span>
                                </a>
                            </b>
                            <b class="submitBtn">
                                <a style="color:#fff;" href='javascript:document.backup.submit();'>
                                   <span style='display:block;width:170px;height:100%'><{t}>备份SEO模板<{/t}></span>
                                </a>
                            </b>
                            <b class="submitBtn">
                                <a style="color:#fff;" href="index.php?ctl=sale/tools&act=recoverseo" target='_blank' onclick='new Event(event).stop();if(!confirm("恢复后当前的SEO模板将会完全被覆盖，确定要恢复吗？"))return false;"'>
                                   <span style='display:block;width:170px;height:100%'><{t}>恢复SEO模板备份<{/t}></span>
                                </a>
                            </b>-->
                            <{button type="button" onclick="if (!confirm('您是否要恢复全站页面的SEO模板，您填写的自定义内容都将丢失。'))return false;W.page('index.php?ctl=sale/tools&act=recoverallseo');" label="恢复全站SEO模板默认值"}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <{button type="button" onclick="javascript:document.backup.submit();" label="备份SEO模板"}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <{button type="button" label="选择备份文件" id='backupseotpl'  label="恢复SEO模板备份"}>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
                <td><h4><{t}>其他设置<{/t}></h4></td>
                <td style="text-align:right; padding-right:10px;"><{help docid="97" type="link"}><{t}>点击查看帮助<{/t}><{/help}></td>
            </tr>
        </table>
        <div class="division" style="position:static;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
                <tr>
                    <th><{t}>商店页面启用伪静态URL：<{/t}></th>
                    <td><{setting key="system.seo.emuStatic" namespace="setting" display='false'}></td>
                </tr>
                <tr>
                    <th><{t}>通知搜索引擎不索引列表页：<{/t}></th>
                    <td><{setting key="system.seo.noindex_catalog" namespace="setting" display='false'}></td>
                </tr>
            </table>
        </div>
        <div class="table-action">
            <{button type="submit" label="保存" }>
        </div>
    </div>
</form>
<form name="backup" action="index.php?ctl=sale/tools&act=backupseo" method="post" target="download"></form>
<script>
    $('backupseotpl').addEvent('click',function(){
     if(!confirm('恢复后当前的SEO模板将会完全被覆盖，确定要恢复吗？'))return false;
     this.store('dialog',new Dialog('index.php?ctl=sale/tools&act=selectcsv',{title:'恢复SEO模版',width:"400",height:"150"}));
    });
</script>