<div class="guider" style="height:200px;">
	<dl class="step step5" style="top:30px;">
		<dt><{t}>工具箱<{/t}></dt>
		<dd><{t}>工具箱里面的各种工具和功能是用来辅助商家的商店运营。<{/t}></dd>
	</dl>
	
	<div class="arrwrap" style="height:100px;">
		<div class="tp"></div>
		<div class="bd"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub">
		<dl>
			<dt><{t}>1.商店运营类<{/t}></dt>
			<dd><{t}>如果您的商店需要临时盘点或者维护，可使用网店暂停营业功能。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.页面显示类<{/t}></dt>
			<dd><{t}>页面显示类工具可以让您自定义前台页面中顾客遇到错误页面时的页面内容。<{/t}></dd>
		</dl>
	</div>
</div>