<h2><{t}>Delivery Address<{/t}></h2>
<div class="TableWrap section">
<table width="100%" cellpadding="3" cellspacing="0" class="liststyle">
<thead>
  <tr>
     <th class="status"><{t}>Select<{/t}></th>
     <th class="status"><{t}>Default<{/t}></th>        
    <th class="product"><{t}>Consignee<{/t}></th> 
    <th class="ident"><{t}>Telephone<{/t}></th>
    <th class="time"><{t}>Mobile Phone<{/t}></th> 
    <th class="price"><{t}>Address<{/t}></th>
     <th class="status"><{t}>Post Code<{/t}></th>

    </tr>
</thead>
<tbody id="addrList">
<{foreach from=$receiver item=items key=key}>
<tr>
  <td class="status"><input type="radio" name="receiver_id" value=<{$items.addr_id}> <{if $items.def_addr == 1}>checked="checked"<{/if}> ></td>
  <td class="status"><{if $items.def_addr == 1}><{t}>Y<{/t}><{else}><{t}>N<{/t}><{/if}></td>  
    <td class="name"><{$items.name}></td> 
  <td class="tel"><{$items.tel}></td>
  <td class="mobile"><{$items.mobile}></td>
  <td class="addr"><{$items.addr}></td>
  <td class="zip"><{$items.zip}></td>

</tr>
<{/foreach}>
</tbody>
<tr>
<td colspan="7" class=" liststyle_option"><input class="buttonstyle" type="button" onclick="Cart.checkAddr(event)" value="Select the Delivery Address" /></td>
</tr>
</table>
<div >

</div>
</div>
