<div class="RegisterWrap clearfix">
      <h4><{t}>Step 2: get the account password<{/t}></h4>
     <div class="intro"><{t}>Note:please provider your email for get the repassword mail.<{/t}></div>
    <div class="form">

       <form name="FORM_TPL_FORGETQUESTION" method="post" action=<{link ctl="passport" act="sendPSW"}>>
     <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:20px;">
          <tr>
            <th style="width:200px;"><{t}>Your name:<{/t}></th>
            <td><{$data.uname}><input type=hidden name=uname value="<{$data.uname}>" /></td>
          </tr>
          <{if $data.pw_question}>
          <tr>
            <th style="width:200px;"><{t}>Repassword Question:<{/t}></th>
            <td><{$data.pw_question}></td>
          </tr>
          <tr>
            <th style="width:200px;"><{t}>Answer:<{/t}></th>
            <td><{input name=pw_answer class="inputstyle" }></td>
          </tr>          
          <{/if}>
          <tr>
            <th style="width:200px;"><{t}>Email:<{/t}></th>
            <td><{input name=email class="inputstyle" }></td>
          </tr>   
          <tr>
            <th>&nbsp;</th>
            <td><input  type="submit" class="buttonstyle" value="Submit" /></td>
          </tr>                      
        </table>
   
    </div>
    
    
  </div>













