
<div class="Comments FormWrap" style="border:none" > 

    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="forform">
        <tr>
            <th width="20%"><{t}>Buyer<{/t}></th>
            <th width="20%"><{t}>Price<{/t}></th>
            <th width="30%"><{t}>QTY<{/t}></th>
            <th width="30%"><{t}>Date<{/t}></th>
        </tr>
        <{foreach from=$sellLogList.data item=sellLogListData key=key}>
        <tr>
            <td><{$sellLogListData.name|cut:6:'***'}></td>
            <td><{$sellLogListData.price}></td> 
            <td><{$sellLogListData.number}> <{if $sellLogListData.pdt_desc}>( <{$sellLogListData.pdt_desc}> )<{/if}></td>
            <td><{$sellLogListData.createtime|userdate}></td>
        </tr>
        <{/foreach}>
    </table>

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="left"><{t}>Up to now,have saled <{/t}><{$sellLogList.total}><{t}><{/t}></td>
            <td align="right"></td>
        </tr>
    </table>

  <{pager data=$pager}>
    </div>
  