<div class="guider" style="height:200px;">
	<dl class="step step1" style="top:30px;">
		<dt><{t}>商店配置<{/t}></dt>
		<dd><{t}>当您在正式运营商店前，需要对一些功能进行配置，来保证商店正常运营。<{/t}><br><br><{t}>配置分为初始配置和高级配置。<{/t}></dd>
	</dl>
	
	<div class="arrwrap" style="height:100px;">
		<div class="tp"></div>
		<div class="bd"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub">
		<dl>
			<dt><{t}>1.初始配置<{/t}></dt>
			<dd><{t}>初始配置为正式运营前所<{/t}><em><{t}>必须配置<{/t}></em><{t}>的功能。<{/t}><br><{t}>如果您是<{/t}><em><{t}>第一次使用商店系统<{/t}></em><{t}>，请先完成初始配置的功能，这是商店正常运营的保障。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.高级配置<{/t}></dt>
			<dd><{t}>高级配置是辅助商店运营的一些功能，这些功能系统默认已经为您配置好，可无需配置。<{/t}><br><{t}>只有当您需要更改某个功能时才需要用到它。<{/t}></dd>
		</dl>
	</div>
</div>

<div class="guider_intro">
	<h2><{t}>如何进行商店配置<{/t}></h2>
	<p><{t}>您只要点击左侧菜单，即可进入每个配置的功能页。每项功能都已经为您设置了一个默认值，如果您需要调整功能配置<{/t}><br />则可以对默认值进行修改，然后保存即可。
如果您遇到什么不清楚的功能配置，可以查看帮助<{/t}><{help type="link-mid" docid="23"}>功能配置相关帮助<{/help}>
</p>
</div>