<textarea name="filter" style="display:none"><{$filter}></textarea>
<div class="division">
<div class="notice"><{t}>正在编辑<{/t}><strong><{$editInfo.count}></strong><{t}>条数据。<{/t}><br>小提示：批量修改保存后将影响所有已选中的项目，并且不可恢复，请提交前认真核实!
</div>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
    <th style="width:50px">
    请选择
    </th>
        <th>&nbsp;
        </th>
        <td>&nbsp;</td>  
    </tr>
    <{foreach from=$editInfo.cols item=item key=key name="columns"}>
    <tr>
      <th style="width:50px">
      <input type="checkbox" name="enable[<{$key}>]" value="1" id="ipt_enable_<{$key}>" >
      </th>
      <th><label for="bated_ipt_<{$key}>"><{$item.label}></label>
            <input type="hidden" value="<{$item.value}>" name="old[<{$key}>]" />
      </th>
      <td><{input params=$item onfocus="$('ipt_enable_{$key}').checked=true"  type=$item.type value=$item.value inputType=$item.inputType options=$item.options name="set[{$key}]" }></td>  
    </tr>
    <{/foreach}>
</table>
</div>
<{area inject=".mainFoot"}>
<center>
<{button label="保存" type="button" id="batch_edit_btn"}>
</center>
<{/area}>
<script>
$('batch_edit_btn').addEvent('click',function(){
    new Ajax('index.php?ctl=<{$env.get.ctl}>&act=saveBatchEdit',{data:this.dialog_body,method:'post',onSuccess:function(r){
            if(r=='ok'){
                MessageBox.success('保存成功！');
            }else{
                MessageBox.error(r);
            }
            this.close();
        }.bind(this)}).request();
}.bind(window.finderDialog));
</script>