
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridlist">
<col class="Colsn"></col>
<col class="Colname"></col>
<col class="Coldetails"></col>
<col class="Coldate"></col>
  <thead>
    <tr>
      <th><{t}>用户名<{/t}></th>
      <th><{t}>标题<{/t}></th>
      <th><{t}>内容<{/t}></th>
      <th><{t}>发表时间<{/t}></th>
    </tr>
  </thead>
  <tbody>
  <{foreach from=$ask_items item=aList}>
  <tr>
    <td><{$aList.author}></td>
    <td><{$aList.title|escape:'html'}></td>
    <td class="Coldetails"><{$aList.comment|escape:'html'}></td>
    <td><{$aList.time|cdate:SDATE_STIME}></td>
  </tr>
  <{/foreach}>
  </tbody>
</table>
</div>