<div class="guider">
	<dl class="step step2" style="top:55px;">
		<dt><{t}>统计报表<{/t}></dt>
		<dd><{t}>本功能模块为您显示网店的统计信息，包括访问统计、销售统计和预存款统计。<{/t}></dd>
	</dl>
	
	<div class="arrwrap" style="height:158px;">
		<div class="tp"></div>
		<div class="bd"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub">
		<dl>
			<dt><{t}>1.访问统计<{/t}></dt>
			<dd><{t}>通过本功能，可以统计到详细的网店访问量、访客来源、页面浏览量、当前在线用户等等。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.预付款统计<{/t}></dt>
			<dd><{t}>记录每一位会员预付款进出的流水记录，可以按时间段查询网店预付款总流水情况。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>3.销售统计<{/t}></dt>
			<dd><{t}>可以允许您对销售额、销售排行、销售转化率等多个指标进行查看。<{/t}></dd>
		</dl>
	</div>
</div>