<div class="guider">
	<dl class="step step4" style="top:60px;">
		<dt><{t}>页面管理<{/t}></dt>
		<dd><{t}>页面管理是指对商店页面的内容和外观进行管理，我们常说的商店页面装修和商店公告、购物须知等文章都在这里实现。<{/t}></dd>
	</dl>
	
	<div class="arrwrap" style="height:260px;">
		<div class="tp"></div>
		<div class="bd" style="background-position:0 66%;"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub">
		<dl>
			<dt><{t}>1.站点栏目<{/t}></dt>
			<dd><{t}>对网店栏目内容进行管理。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.文章管理<{/t}></dt>
			<dd><{t}>可以管理网店的所有文章，包括公告、网店新网发布等。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>3.友情链接<{/t}></dt>
			<dd><{t}>管理网店的友情链接。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>4.网页底部信息<{/t}></dt>
			<dd><{t}>可以可视化编辑前台网店底部信息。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>5.模板列表<{/t}></dt>
			<dd><{t}>模板是指网店前台的样式表现，可在模板列表中切换使用不同的模板。亦可对模板进行在线编辑。<{/t}></dd>
		</dl>
	</div>
</div>
