<div class="guider">
	<dl class="step step3" style="top:0; left:0;">
		<dt><{t}>营销推广<{/t}></dt>
		<dd style="width:390px;"><{t}>本功能模块分为“站内营销”和“站外推广”两部分，分别实现商店内部会员的促销活动，以及对外推广商店的功能。<{/t}></dd>
	</dl>
	
	<div class="arr2"></div>
	<div class="arrwrap" style=" position:absolute; height:210px; left:80px;top:160px; margin:0;">
		<div class="tp"></div>
		<div class="bd" style=" background-position:0 55%;"></div>
		<div class="ft"></div>
	</div>
	
	<h4 style="position:absolute; top:155px; left:108px;"><{t}>站内营销<{/t}></h4>
	<div class="arrwrap" style="height: 180px; padding-top: 100px; left: 200px;">
		<div class="tp"></div>
		<div class="bd" style="background-position:0 57%;"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub sub2 clearfix" style="top:92px;">
		<dl>
			<dt><{t}>1.促销活动<{/t}></dt>
			<dd><{t}>设置促销活动和促销规则，可以实现线下实体店常见的促销手段，例如购物打折、免运费、送优惠券等。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.优惠券<{/t}></dt>
			<dd><{t}>优惠券形式可多种多样，现金抵扣券、折扣券、抵运费券等等，会员通过购物即可得到优惠券。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>3.赠品兑换<{/t}></dt>
			<dd><{t}>通过设置赠品，可以让您的顾客通过购物积攒的积分来兑换赠品。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>4.捆绑促销<{/t}></dt>
			<dd><{t}>把多个商品捆绑在一起，作为一个单独的商品单位进行低价销售，带动销售量。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>5.购物积分<{/t}></dt>
			<dd><{t}>配置商店购物积分，让会员累计积分，更多的购物消费。<{/t}></dd>
		</dl>
	</div>
	
	<h4 style="position:absolute; top:365px; left:108px;"><{t}>站外推广<{/t}></h4>
	
	<div class="arrwrap" style="height: 98px; padding-top: 60px; left: 200px;">
		<div class="tp"></div>
		<div class="bd" style="background-position:0 53%;"></div>
		<div class="ft"></div>
	</div>
	
	<div class="guider_sub sub2 clearfix" style="top:342px;">
		<dl>
			<dt><{t}>1.搜索引擎优化<{/t}></dt>
			<dd><{t}>通过此功能，可提高百度、谷歌等搜索引擎对商店的友好度，提高商店在搜索引擎的排名。让更多的顾客通过搜索引擎找到您的商店。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>2.网罗天下-快速多点铺货<{/t}></dt>
			<dd><{t}>网罗天下选取精准推广渠道，同步多点铺货，及时更新，以最低的成本帮您搭建通向消费者之路。<{/t}></dd>
		</dl>
		<dl>
			<dt><{t}>3.站外推广链接<{/t}></dt>
			<dd><{t}>您可以在其他网站投放广告或其他推广链接，然后通过此功能跟踪站外广告的来源，统计广告效果。<{/t}></dd>
		</dl>
	</div>
</div>
