<{if $shippings}>
<table width="100%" cellpadding="0" cellspacing="0" class="liststyle data">
            <col class="span-5 ColColorGray"></col>
            <col class="span-auto textleft"></col>
  <tbody>
  <{foreach from=$shippings item="shipping" key="key"}>
  <tr>
    <th style="text-align:left;">
    <label style="width:auto;">
    <input type="radio" name="delivery[shipping_id]" id='shipping_<{$shipping.dt_id}>' value="<{$shipping.dt_id}>" class="toCheck" onclick="Order.shippingChange(this,event)" has_cod="<{$shipping.has_cod}>" />
      <{$shipping.dt_name}>
    </label>	
    </th>
      <td>
      <span style="font-size:14px;" class="fontcolorRed">+<{$shipping.price|cur}></span><br />
      <{if $shipping.protect}>
      <div style="border-bottom:1px solid #ccc; padding:5px 0; margin:0 0 5px 0; color:#000;">
      <input onclick="Order.shippingMerge($('shipping_<{$shipping.dt_id}>'),{protect:'true'},this.checked,event)" type="checkbox" name="delivery[is_protect][<{$shipping.dt_id}>]" value="1" >
      <strong><{t}>Insurance Charge Rate<{/t}></strong>
      <{t}>(<{/t}><{$shipping.protect_rate*100}><{t}>% of total price, if less than <{/t}><{$shipping.minprice|cur}><{t}>,  just charge <{/t}><{$shipping.minprice|cur}><{t}>).<{/t}></div>
     <{/if}>
            <{$shipping.detail}>
     </td>
  </tr>
  <{/foreach}>
  </tbody>
</table>
<{else}>
<div class='notice'><{t}>We cannot reach your address now. Please contact with our online customer service or email us.<{/t}></div>
<{/if}>

  <script>
      
    window.addEvent('domready',function(){
        $ES('input.toCheck','shipping').each(function(shp){
           shp.removeEvents('click').addEvent('click',function(){
                 
                 var tr=this.getParent('tr');
                 var table=this.getParent('table');
                 if(table.retrieve('temcheck')){
                    table.retrieve('temcheck').removeClass('ColColorBlue');
                 }
                 table.store('temcheck',tr.getElements('td').addClass('ColColorBlue'));
           
           }).setStyle('cursor','pointer');
        });
    });
  </script>
