<div class="CartInfoItems" style="text-align:center;">
<{t}>By now,you have ordered <{/t}><span><{$cartCount}></span><{t}> styles <{/t}><span><{$cartNumber}></span><{t}> pieces<{/t}>&nbsp;&nbsp;&nbsp;&nbsp;<{t}>total price:<{/t}><span><{$trading.totalPrice|cur}></span>
  
      <div class='btnBar clearfix' style="margin-top:10px; padding-left:60px;">
        <a class="actbtn btn-viewcart" href="<{link ctl=cart act=index}>" target="_blank"><{t}>View my cart<{/t}></a>
        <span class="actbtn btn-continue" onclick="$(this).getParent('.dialog').remove();" ><{t}>Go on shopping<{/t}></span>
        
      </div> 
</div>
