

<{if $showpage}>
	<{foreach from=$product item=item key=key}>
    
		<div class="mini_cart_list" style="width:160px;">
        
<table style="width:100%; margin-bottom:5px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:80px;"><a href=""><img src="<{$item.thumbnail_pic}>" onload="$(this).zoomImg(80,80)"/></a></td>
    <td><span style="color:#4e5e7f; font-weight:bold;"><{$item.name}></span></td>
  </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">规格：</span><{$item.pdt_desc}></td>
    </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">货号：</span><{$item.bn}></td>
    </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">库存：</span><{$item.store}></td>
    </tr>
    <tr>
    <td colspan="2"><span style="color:#999999;">数量：</span><{$item.nums}></td>
    </tr>
  <tr>
    <td colspan="2" style="background:#eef3f7;text-align:right; padding-right:5px;"><span style="color:#999999;">价格：</span><{$item.price}><{$currency}></td>
  </tr>
</table>
   
		</div>
	<{/foreach}>
<{else}>

	  <div class="mini_cart_list" style="width:160px;">
		
        
        <table style="width:100%; margin-bottom:5px;" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="width:80px;"><a href=""><img src="<{$small_pic}>" onload="$(this).zoomImg(80,80)"/></a></td>
    <td><span style="color:#4e5e7f; font-weight:bold;"><{$product.name}></span></td>
  </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">规格：</span><{$product.pdt_desc}></td>
    </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">货号：</span><{$product.bn}></td>
    </tr>
  <tr>
    <td colspan="2"><span style="color:#999999;">库存：</span><{$product.store}></td>
    </tr>
    <tr>
    <td colspan="2"><span style="color:#999999;">数量：</span><{$num}></td>
    </tr>
  <tr>
    <td colspan="2" style="background:#eef3f7;text-align:right; padding-right:5px;"><span style="color:#999999;">价格：</span><{$product.price}><{$currency}>&nbsp;&nbsp;<span style="color:#999999;">总价：</span><{$totalPrice}></td>
  </tr>
</table>

                 
              
            
                
  
                
</div>
	
<{/if}>


